[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu124"
verify_ssl = true
name = "pytorch"

[packages]
jupyterlab = "*"
yfinance = "*"
torch = {version = "*", index = "pytorch"}
tensorboard = "*"
tensorboardx = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
mplfinance = "*"
scikit-learn = "*"
fastapi = "==0.110.1"
uvicorn = {extras = ["standard"], version = "==0.29.0"}

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
app = "uvicorn --app-dir app main:app --reload"
