[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu124"
verify_ssl = true
name = "pytorch"

[packages]
jupyterlab = "*"
yfinance = "*"
tensorboard = "*"
tensorboardx = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
mplfinance = "*"
scikit-learn = "*"
fastapi = "==0.110.1"
uvicorn = {extras = ["standard"] }

[dev-packages]
torch = { index = "pytorch"}

[requires]
python_version = "3.12"

[scripts]
app-dev = "uvicorn --app-dir app main:app --reload"
app = "uvicorn --app-dir app main:app --host 0.0.0.0"
