[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fastapi = "*"
uvicorn = {extras = ["standard"] }
scikit-learn = "*"
pandas = "*"
nltk = "*"
fastapi-cache2 = {extras = ["redis"], version = "*"}

[dev-packages]
jupyterlab = "*"
matplotlib = "*"
seaborn = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"

[requires]
python_version = "3.11"

[scripts]
app = "uvicorn --app-dir app main:app --reload"
tests = "pytest -p no:cacheprovider"
