[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
streamlit = "*"
streamlit-aggrid = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
app = "streamlit run ./app.py"
