[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyarrow = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
import="python importar.py"
